/* Core Styles */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Scroll Bar */
@media (min-width: 500px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eeeeee; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #888;  */
    /* background: linear-gradient(135deg, #b0b0ff 0%, #fff 25%, #b0d8ff 100%);  */
    background: linear-gradient(135deg, rgba(176, 176, 255, 0.8) 0%, rgba(176, 216, 255, 0.8) 100%); 
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgba(176, 176, 255, 1) 0%, rgba(176, 216, 255, 1) 100%); 
  }
}




body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #e3e3ff;
  color: #222;
  font-size: 2vh;
  line-height: 1.5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.inline {
  display: inline-block;
}

#burger-icon {
  position: fixed;
  padding-top: 10px;
  cursor: pointer;
  top: 0;
  right: 2vh;
  transition: top 0.3s;
  z-index: 999;
}

/* Burger menu components */
#bar-1, #bar-2, #bar-3 {
  width: 30px;
  height: 3px;
  background-color: #bbb;
  margin: 6px;
  transition: 0.5s;
}

.burger-bar-hover {
  background-color: #555 !important;
}

/* Transformation effect for burger menu */
.transform-bar-1 {
  transform: rotate(-405deg) translate(-8px, 7px);
}

.transform-bar-2 {opacity: 0;}

.transform-bar-3 {
  transform: rotate(405deg) translate(-5px, -5px);
}

#sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidenav a:first-child {
  margin-top: 5vh;
}

#sidenav a {
  display: block;
  font-size: 4vh;
  text-decoration: none;
  color: #bbb;
  opacity: 1;
  padding: 5vh 0;
}

#sidenav a:hover {
  color: #fff;
}

section:nth-child(even) {
  /* background: #f5f5f5; */
  /* background: #d2d2ff; */
  background: #e3f1ff;
}

/* Cursor highlight */
::selection {
  background: lightgray;
  /* color: green; */
}

img {
  display: block;
  width: 100%;
  /* height: 25vh; */
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
  padding: 1em 0;
}

.button {
  display: block;
  background: #fff;
  color: #222;
  border: 1px solid #aaa;
  margin: 0.5em 0;
  padding: .5em 1em;
  text-decoration: none !important;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

#headerBtn{
  background: transparent;
}

#headerBtn:hover {
  background: rgba(184, 184, 184, 0.1);
  color: #222;
}

.button:hover {
  background: #aaa;
  color: #fff;
}


/* Header */
header {
  min-height: 100vh;
  text-align: center;
}

#bg-image {
  position: absolute;
  background-color: #e3f1ff;
  background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 25%, #b0d8ff 100%);
  animation: home 10s ease-out 0s infinite normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 1;
}

@keyframes home {
  0% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 25%, #b0d8ff 100%); }
  1%, 100% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 26%, #b0d8ff 100%); }
  2%, 99% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 27%, #b0d8ff 100%); }
  3%, 98% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 28%, #b0d8ff 100%); }
  4%, 97% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 29%, #b0d8ff 100%); }
  5%, 96% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 30%, #b0d8ff 100%); }
  6%, 95% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 31%, #b0d8ff 100%); }
  7%, 94% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 32%, #b0d8ff 100%); }
  8%, 93% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 33%, #b0d8ff 100%); }
  9%, 92% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 34%, #b0d8ff 100%); }
 10%, 91% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 35%, #b0d8ff 100%); }
 11%, 90% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 36%, #b0d8ff 100%); }
 12%, 89% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 37%, #b0d8ff 100%); }
 13%, 88% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 38%, #b0d8ff 100%); }
 14%, 87% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 39%, #b0d8ff 100%); }
 15%, 86% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 40%, #b0d8ff 100%); }
 16%, 85% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 41%, #b0d8ff 100%); }
 17%, 84% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 42%, #b0d8ff 100%); }
 18%, 83% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 43%, #b0d8ff 100%); }
 19%, 82% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 44%, #b0d8ff 100%); }
 20%, 81% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 45%, #b0d8ff 100%); }
 21%, 80% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 46%, #b0d8ff 100%); }
 22%, 79% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 47%, #b0d8ff 100%); }
 23%, 78% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 48%, #b0d8ff 100%); }
 24%, 77% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 49%, #b0d8ff 100%); }
 25%, 76% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 50%, #b0d8ff 100%); } 
 26%, 75% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 51%, #b0d8ff 100%); }
 27%, 74% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 52%, #b0d8ff 100%); }
 28%, 73% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 53%, #b0d8ff 100%); }
 29%, 72% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 54%, #b0d8ff 100%); }
 30%, 71% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 55%, #b0d8ff 100%); }
 31%, 70% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 56%, #b0d8ff 100%); }
 32%, 69% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 57%, #b0d8ff 100%); }
 33%, 68% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 58%, #b0d8ff 100%); }
 34%, 67% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 59%, #b0d8ff 100%); }
 35%, 66% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 60%, #b0d8ff 100%); }
 36%, 65% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 61%, #b0d8ff 100%); }
 37%, 64% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 62%, #b0d8ff 100%); }
 38%, 63% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 63%, #b0d8ff 100%); }
 39%, 62% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 64%, #b0d8ff 100%); }
 40%, 61% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 65%, #b0d8ff 100%); }
 41%, 60% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 66%, #b0d8ff 100%); }
 42%, 59% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 67%, #b0d8ff 100%); }
 43%, 58% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 68%, #b0d8ff 100%); }
 44%, 57% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 69%, #b0d8ff 100%); }
 45%, 56% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 70%, #b0d8ff 100%); }
 46%, 55% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 71%, #b0d8ff 100%); }
 47%, 54% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 72%, #b0d8ff 100%); }
 48%, 53% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 73%, #b0d8ff 100%); }
 49%, 52% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 74%, #b0d8ff 100%); }
 50%, 51% { background-image: linear-gradient(135deg, #b0b0ff 0%, #fff 75%, #b0d8ff 100%); }
}

header .content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-align: left;
  line-height: 1.7;
  font-size: 5.5vh;
}

#arrow-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 4vh;
  left: 50%;
  right: 50%;
  position: absolute;
  animation: arrowDown 2s ease 2s infinite normal;
}

@keyframes arrowDown {
  0% {bottom: 4vh;}
  50% {bottom: 2vh;}
  100% {bottom: 4vh;}
}

header .content-wrap,
#about-me .content-wrap {
  padding: 0 1.5em;
}

/* About Me */
#about-me {
  padding: 20vh 0;
}

.content-title {
  margin-bottom: 3vh;
}

.skill {
  /* display: inline; */
  background: #fff;
  border-radius: 5px;
  margin: .5vh;
  padding: 1vh 1.5vh;
  line-height: 3vh;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 600;
  border: 1px solid #ccc;
}

/* My Projects */
#my-projects {
  padding: 20vh 1em;
}

#my-projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#my-projects li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

#my-projects .modal-body li {
  list-style-type: circle;
}

#my-projects .modal-body {
  text-align: left;
  display: block;
}

#my-projects .modal-body > ul{
  text-align: left;
  display: block;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  list-style-position: inside;
}

.card {
  border: none;
}

.card:hover {
  cursor: pointer;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 5px #aaa;
}

.card-title {
  margin-bottom: 0;
}

.card-content {
  padding: 1em;
}

.modal-header {
  padding: 1em 1em .5em 1em;
}

.modal-header span {
  line-height: 1.5;
}

.modal-content .hint {
  padding-left: 3vh;
}

.project-features {
  margin-top: 3vh;
}

.live-website {
  background: linear-gradient(135deg, rgba(176, 176, 255, 0.8) 0%, rgba(176, 216, 255, 0.8) 100%); 
  margin-bottom: 2vh;
  padding: .5em 0;
  border: none;
  display: block !important;
  text-align: center;
}

.live-website:hover {
  background: linear-gradient(135deg, rgba(176, 176, 255, 1) 0%, rgba(176, 216, 255, 1) 100%); 
  color: #222;
}

/* Contact Me */
#contact-me {
  padding: 20vh 1em;
}

#contact-me a {
  color: #2690d4;
  text-decoration: none;
  font-size: 2.5vh;
}

/* Footer */
#main-footer {
  padding: 2em;
  /* background: #f5f5f5; */
  /* background: #d2d2ff; */
  background: #e3f1ff;
  color: #333;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}






/* Media Queries */
/* For screens wider than and equal to 700px */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-self: center;
    display: inline-block;
  }

  header .button {
    margin-top: 6vh;
  }

  #about-me .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #about-me .content-text p {
    padding-top: 0;
  }

  #skills {
    margin-top: 5vh;
    font-size: 1.2em;
  }

  .content-wrap, 
  #my-projects ul,
  #my-projects h2 {
    grid-column: 2/4;
  }

  #main-footer div {
    grid-column: span 2;
  }

  #main-footer div {
    grid-column: 2/4;
  }

  #my-projects ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5em;
  }

  #contact-me div {
    grid-column: 2/4;
    /* columns: 2; */
  }

  
}