$primaryBg: #fff;
$secondaryBg: #edf0f2;
$color200: #05223e;
$color: #08194f;
$secondaryColor: #4a6572;
$lightColor400: #1070cc;
$lightColor300: #cfe1f5;
$lightColor200: #dfebf8;
$lightColor100: #eff5fc;
