#burger-icon {
  position: fixed;
  cursor: pointer;
  top: .5em;
  right: .5em;
  z-index: 99;
  &:active {
    transform: scale(0.97);
  }
  @media (min-width: 768px) {
    display: none;
  }
  
  .material-icons-outlined {
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 150ms;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  .menu {
    color: $tertiaryColor;
  }

  .md-light {
    color: rgba(255, 255, 255, 1);
  }

  .close {
    display: none; // Hide Close icon by default
    color: $tertiaryColor;
    opacity: 1;
    text-shadow: unset;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }
  }
}