.button {
  // display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background: $tertiaryColor;
  color: $color;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: .2em 1em;
  text-decoration: none !important;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 5px 0px rgba(0,0,0,.12);
  &:focus {
    outline: none;
  }
  &:hover {
    background: lighten($tertiaryColor, 5%);
    color: $color;
  }
  &:active {
    transform: scale(0.99);
  }
}

.outlined-btn {
  background-color: transparent;
  border: 1px solid $cursorHighlight !important;
  color: $color;
  box-shadow: unset;
  &:hover {
    background-color: $cursorHighlight;
    border: 1px solid $tertiaryColor !important;
  }
}

.button-icon {
  padding-right: 0.5em;
}