@use '../helpers/variables' as var;

.button {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background: var.$lightColor400;
  color: #fff;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: 0.4rem 1.7rem;
  text-decoration: none !important;
  cursor: pointer;
  transition: all 150ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 5px 0px rgba(0,0,0,.12);
  @media (max-width: 767px) {
    width: fit-content;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: darken(var.$lightColor400, 10%);
    color: #fff;
  }
  &:active {
    transform: scale(0.99);
  }
}

.text-btn {
  background-color: transparent;
  border: none;
  color: var.$color;
  box-shadow: unset;
  &:hover {
    background-color: #f6f6f6;
    color: var.$color;
  }
}

.button-icon {
  padding-right: 0.5em;
}