@use '../helpers/variables' as var;

.mobile-top-nav {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  padding: 0.5rem .75rem;
  top: 0;
  z-index: 11;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .15);
  max-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 768px) {
    display: none;
  }
  .logo-link {
    display: flex;
    align-items: center;
    margin: auto 1rem;
    .logo {
      position: relative;
      img {
        width: 160px;
      }
    }
  }
}

.show-mobile-nav .mobile-top-nav {
  box-shadow: none;
}

#burger-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:active {
    transform: scale(0.97);
  }
  @media (min-width: 768px) {
    display: none;
  }
  
  .material-icons-outlined {
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 150ms;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  .menu {
    color: var.$lightColor400;
  }

  .md-light {
    color: rgba(255, 255, 255, 1);
  }

  .close {
    display: none; // Hide Close icon by default
    color: var.$lightColor400;
    opacity: 1;
    text-shadow: unset;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }
  }
}