@use '../helpers/variables' as var;

body.modal-open {
  overflow-y: hidden;
}

.modal {
  padding-right: 0 !important;
  &.show {
    padding: 0 !important;
    .modal-dialog {
      margin: .5rem !important;
    }
  }
  .modal-content .hint {
    padding-left: 1.5rem;
  }
  .modal-header {
    padding: 1rem;
    border-bottom: unset;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 11;
    align-items: center;
    span {
      line-height: 1.5;
    }
    .material-icons-outlined {
      margin: -.3em -.3em 0 0;
      padding: 10px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 150ms;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
      &:active {
        transform: scale(0.97);
      }
    }
    .live-website {
      display: inline-block;
      margin: 0 0 0 1.5rem;
      line-height: 2;
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
  .modal-body {
    padding-top: 0;
    .live-website {
      text-align: center;
      margin-bottom: 1em;
      @media (min-width: 576px) {
        display: none;
      }
      .button {
        @media (max-width: 767px) {
          margin: 0.5rem auto;
        }
      }
    }
  }
  .project-features h5 {
    margin: 5vh 0;
    margin-left: 2vh;
    text-align: left;
  }
  .project-features li {
    text-align: left;
    margin-bottom: .7rem;
  }
  .carousel-control-prev,
  .carousel-control-next,
  .carousel-indicators {
    color: var.$tertiaryColor;
  }
  .modal-footer {
    border-top: unset;
    position: sticky;
    bottom: 0;
    background-color: inherit;
    z-index: 11;
    .close-btn {
      text-align: center;
      width: 100%;
      @media (max-width: 767px) {
        margin: 0.5rem auto;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
    .live-website {
      width: 100%;
      margin: 0;
      @media (min-width: 576px) {
        display: none;
      }
    }
  }
}

#modal-sydney-trains {
  .modal-footer {
    .close-btn {
      display: block;
      margin: 0;
    }
  }
}

@media (max-width: 500px) {
  .modal {
    .modal-body ul {
      padding-inline-start: 30px;
    }
    .project-features {
      h5 {
        margin: 3vh 0px 2vh 1vh;
      }
    }
  }
}

@media (max-width: 400px) {
  .modal .modal-body ul {
    padding-inline-start: 20px;
  }
}
