@use '../helpers/variables' as var;

body.modal-open {
  overflow-y: hidden;
}

.modal {
  padding: 0 !important;
  .modal-content {
    border: unset;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
    .hint {
      padding-left: 1.5rem;
    }
  }
  .illustration-wrapper {
    width: fit-content;
    margin: 2rem auto 0;
    svg {
      max-width: 200px;
      height: auto;
      @media (max-width: 1399px) {
        max-width: 20vw;
      }
      @media (max-width: 767px) {
        max-width: 30vw;
      }
      @media (max-width: 575px) {
        max-width: 40vw;
      }
    }
  }
  .modal-header {
    padding: .5rem 1rem;
    border-bottom: unset;
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 11;
    align-items: center;
    span {
      line-height: 1.5;
    }
    svg.github {
      width: 32px;
      fill: rgba(116, 129, 154, 0.7);
      transition: all .4s;
      &:active, &:hover {
        fill: #000;
      }
      &:active {
        transform: scale(0.95);
      }
    }
    .material-icons-outlined {
      margin: -.3em -.3em 0 0;
      padding: 10px;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 150ms;
      &.close{
        margin: -.3em -.3em 0 auto;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
      &:active {
        transform: scale(0.97);
      }
    }
    .live-website {
      display: inline-block;
      margin: 0 0 0 1.5rem;
      line-height: 1.5;
      padding: 0.4rem 1rem;
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
  .modal-body {
    padding-top: 0;
    .live-website {
      text-align: center;
      margin-bottom: 1em;
      @media (min-width: 576px) {
        display: none;
      }
      .button {
        @media (max-width: 767px) {
          margin: 0.5rem auto;
        }
      }
    }

    .headline {
      font-style: italic;
      margin-top: 1rem;
    }

    .section-title {
      margin-top: 10rem;
    }

    .project-challenge {
      .inner-thought {
        text-align: center;
        white-space: pre-wrap;
        max-width: 70ch;
        margin-inline: auto;
        font-style: italic;
      }
    }

    .project-user-empathy {
      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li {
          margin-top: 2rem;
        }
      }

      .persona-list {
        .card-header {
          > span {
            display: inline-flex;
          }
        }
        .persona-card {
          font-size: 0.8rem;
          border-radius: 20px;
          /* Shadow for depth */
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
          /* Sizing and spacing */
          padding: 30px;
          // max-width: 400px;
          /* Optional: subtle inner glow */
          position: relative;
          overflow: hidden;
          @media (max-width: 767px) {
            padding: 20px;
          }
          @media (max-width: 575px) {
            font-size: .7rem;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.15);
            border-color: rgba(255, 255, 255, 0.3);
            transform: translateY(-2px);
            transition: all 0.3s ease;
          }
        }
        > li:nth-child(odd) {
          padding-left: 0;
          padding-right: .5rem;
        }
        > li:nth-child(even) {
          padding-left: .5rem;
          padding-right: 0;
        }
        > li.col-xs-12 {
          @media (max-width: 575px) {
            padding: 0;
          }
        }
      }

      > h5 {
        margin-top: 5rem;
      }
    }

    .project-functionalities {
      .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-direction: row-reverse;
        }
        ul {
          flex: 2;
        }
        .illustration-wrapper {
          margin: auto;
          flex: 1;
          text-align: center;
          @media (max-width: 767px) {
            margin: 2rem auto 0;
          }
        }
      }
    }

    .project-design-prototype {
      > h5 {
        margin-top: 5rem;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        > .text {
          flex: 2;
        }
        .illustration-wrapper {
          margin: auto;
          flex: 1;
          text-align: center;
          @media (max-width: 767px) {
            margin: 2rem auto 0;
          }
        }
      }
      .wireframing {
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 16px;
          margin-left: 8px;
        }
      }
      .wireframes {
        > div {
          margin-top: 5rem;
        }
        > :nth-of-type(1) {
          margin-top: 4rem;
        }
        .scroll-container {
          display: flex;             /* Aligns images in a single row */
          width: 100%;               /* Takes up the full screen width */
          height: 57vw;             /* Define the consistent height */
          overflow-x: auto;          /* Enables horizontal scrolling if content overflows */
          overflow-y: hidden;
          @media (min-width: 1400px) {
            height: 37vw;
          }
          @media (min-width: 1800px) {
            height: 27vw;
          }
          @media (min-width: 2400px) {
            height: 22vw;
          }
          @media (min-width: 2920px) {
            height: 18vw;
          }
          @media (min-width: 3800px) {
            height: 14vw;
          }
          img {
            height: 100%;
            width: auto;               /* CRITICAL: Preserves the image's original aspect ratio */
            flex-shrink: 0;            /* CRITICAL: Prevents images from squeezing to fit the screen */
            object-fit: contain;       /* Ensures the entire image is visible within the height constraint */
          }
        }
      }
      .gif {
        width: 40vw;
        margin: 1rem auto 4rem;
        @media (min-width: 1400px) {
          width: 240px;
        }
        @media (max-width: 1399px) {
          width: 20vw;
        }
        @media (max-width: 500px) {
          width: 40vw;
        }
      }
    }

    .project-reflection {
      > h5 {
        margin-top: 5rem;
      }
      .wrapper.next {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-direction: row-reverse;
        }
        ul {
          flex: 2;
        }
        .illustration-wrapper {
          margin: auto;
          flex: 1;
          text-align: center;
          @media (max-width: 767px) {
            margin: 2rem auto 0;
          }
        }
      }
      .wrapper.takeaways {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        > .text {
          flex: 2;
        }
        .illustration-wrapper {
          margin: auto;
          flex: 1;
          text-align: center;
          @media (max-width: 767px) {
            margin: 2rem auto 0;
          }
        }
      }
    }
  }
  .project-features h5 {
    margin: 2vh;
    text-align: left;
  }
  .project-features li {
    text-align: left;
    margin-bottom: .7rem;
  }
  .carousel-control-prev,
  .carousel-control-next,
  .carousel-indicators {
    color: var.$lightColor400;
  }
  .modal-footer {
    border-top: unset;
    position: sticky;
    bottom: 0;
    background-color: inherit;
    z-index: 11;
    padding: 0.4rem 1rem;
    .close-btn {
      text-align: center;
      width: 100%;
      padding: 0.4rem 1rem;
      margin: 0;
      @media (max-width: 767px) {
        margin: 0.5rem auto;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
    .live-website {
      width: 100%;
      margin: 0;
      padding: 0.1rem 1rem;
      @media (min-width: 576px) {
        display: none;
      }
    }
  }
}

div.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(20px);
  opacity: 0;
  transition: opacity .17s linear;
}

div.modal-backdrop.show {
  opacity: 1;
}

#modal-sydney-trains {
  .modal-footer {
    .close-btn {
      display: block;
      margin: 0;
    }
  }
}

@media (max-width: 500px) {
  .modal {
    .modal-body ul {
      padding-inline-start: 30px;
    }
    .project-features {
      h5 {
        margin: 2vh 1vh;
      }
    }
  }
}

@media (max-width: 400px) {
  .modal .modal-body ul {
    padding-inline-start: 20px;
  }
}
