#sidenav {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: none; // Hide the sidnav first
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  opacity: 0;
  position: fixed;
  z-index: 3;
  right: 0;
  background-color: $color;
  overflow-x: hidden;
  @media (min-width: 768px) {
    display: none;
  }

  a {
    display: none;
    @include dynamicFontSize(30, 50, 300, 1900);
    text-decoration: none;
    text-align: center;
    color: #ccc;
    opacity: 1;
    padding: 5vh 0;
    transition: all 0.1s;
    &:first-child {
      margin-top: 5vh;
    }
    &:hover {
      color: $tertiaryColor;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}


body.show-side-nav {
  // Avoid scrolling
  overflow: hidden;
  #burger-icon {
    .menu {
      // Hide Menu icon
      display: none;
    }
    .close {
      // Show Close icon
      display: inline-block;
    }
  }
}


body.hide-side-nav {
  // Allow scrolling
  overflow: initial;
  #burger-icon {
    .menu {
      // Show Menu icon
      display: inline-block;
    }
    .close {
      // Hide Close icon
      display: none;
    }
  }
}