@use '../helpers/variables' as var;

.sydneyTrainsSwiper, .memoSwiper, .movieWorldSwiper {
  width: 100%;
  height: auto;
  // height: 50%;
  padding-bottom: 2rem;
  margin: 2rem 0;
  overflow-x: hidden;
  position: relative;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      
      img {
        display: block;
        // width: 100%;
        width: 60%;
        // height: 100%;
        object-fit: contain;
        border-radius: var(--card-border-radius);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        @media (max-width: 767px) {
          width: 99%;
        }
        &.sydneyTrains {
          width: 99%;
          &.tradeshow-cert {
            width: 50%;
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 0;
    .swiper-pagination-bullet-active {
      background-color: var.$color;
    }
  }
}
