@use '../helpers/variables' as var;

.sydneyTrainsSwiper, .memoSwiper, .movieWorldSwiper {
  width: 100%;
  height: 50%;
  padding-bottom: 2rem;
  overflow-x: hidden;
  position: relative;
  @media (max-width: 991px) {
    height: 40%;
  }
  @media (max-width: 767px) {
    height: 30%;
  }

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .swiper-pagination {
    bottom: 0;
    .swiper-pagination-bullet-active {
      background-color: var.$color;
    }
  }
}

.swiper-container.memoSwiper {
  @media (max-width: 767px) {
    height: 40%;
  }
}
