/* About */
#about {
  padding: 10vh 0;
  @media (max-width: 575px) {
    margin: 0;
    padding: 5vh 0;
  }
  #skills {
    margin: 8rem auto 0;
    .front-end-tech {
      h5 {
        text-align: center;
        margin-bottom: 2rem;
      }
      .skills {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        max-width: 50rem;
        gap: 1rem;
        margin: 0 auto;
      }
    }
    .others {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      row-gap: 6rem;
      margin-top: 6rem;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
      h5 {
        text-align: center;
        margin-bottom: 2rem;
      }
      .skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
      }
    }
    .skill {
      font-size: 1rem;
      border-radius: 10px;
      padding: 2px 1rem;
      background-color: #f6f6f6;
      color: #000;
    }
  }
}