/* Contact */

@use '../helpers/variables' as var;
@use '../helpers/mixins';

#contact {
  padding: 10vh 1.5rem;
  @media (max-width: 575px) {
    padding: 5vh 1.5rem;
  }
  .contact-container {
    text-align: center;
    .email {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      a {
        color: var.$lightColor400;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s;
        &.animation-showed {
          opacity: 1;
          transform: translateY(0);
        }
        &:active {
          transition-delay: 0s;
          transform: scale(0.97);
        }
      }
      #copy-hint {
        padding: 10px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 150ms;
        height: 44px;
        border: unset;
        &:hover, &:focus-visible {
          background-color: rgba(0, 0, 0, 0.08);
        }
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.97);
        }
        margin-left: 1.25rem;
        @media (max-width: 767px) {
          margin-left: 1rem !important;
        }
        @media (max-width: 500px) {
          margin-left: .6rem !important;
        }
        @media (max-width: 400px) {
          margin-left: 0.3rem !important;
        }
      }
    }
  }
}
