/* Footer */

@use '../helpers/variables' as var;

#main-footer {
  padding: 7rem 0 10vh 0;
  background: var.$primaryBg;
  color: var.$color;
  text-align: center;
  font-weight: 300;
  .created-by {
    font-weight: bold;
  }
  #social-media-container {
    margin: 2vh auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @media (max-width: 767px) {
      max-width: 100px;
      gap: 1rem;
    }
    #github-profile, #linkedin-profile {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: unset;
      color: rgba(0, 0, 0, 0);
      svg {
        width: 32px;
        fill: rgba(116, 129, 154, 0.7);
        transition: all .4s;
        &:active {
          transform: scale(0.95);
        }
      }
    }
    #github-profile {
      &:active, &:hover {
        svg {
          fill: #000;
        }
      }
    }
    #linkedin-profile {
      &:active, &:hover {
        svg {
          fill: #0a66c2;
        }
      }
    }
  }
}