/* Footer */

@use '../helpers/variables' as var;

#main-footer {
  padding: 7rem 0 10vh 0;
  background: var.$primaryBg;
  color: var.$color;
  text-align: center;
  font-weight: 300;
  .created-by {
    font-weight: bold;
  }
  #social-media-container {
    margin: 2vh auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @media (max-width: 767px) {
      max-width: 100px;
      gap: 1rem;
    }
    #github-profile, #linkedin-profile {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: unset;
      }
    }
    #github-profile {
      &:active, &:hover {
        .fa-github {
          color: #000;
        }
      }
    }
    #linkedin-profile {
      &:active, &:hover {
        .fa-linkedin {
          color: #0a66c2;
        }
      }
    }
    
    .fa-github, 
    .fa-linkedin {
      color: rgba(116, 129, 154, 0.7);
      transition: all .4s;
      &:active {
        transform: scale(0.95);
      }
    }

  }
}