/* Header */

@use '../helpers/variables' as var;
@use '../helpers/mixins';

#main section.home {
  background-color: var.$primaryBg;
  position: relative;

  #intro {
    min-height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    @media (max-width: 500px) {
      min-height: unset;
    }

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      @media (max-width: 768px) {
        flex-direction: column;
        margin-inline: auto;
      }
      @media (max-width: 500px) {
        margin-top: 85px;
      }

      img {
        width: 200px;
        border-radius: 50%;
        @media (min-width: 768px) and (max-width: 1200px) {
          width: 16vw;
        }
        @media (max-width: 768px) {
          width: 30vw;
        }
      }

      h1 {
        text-align: left;
        line-height: 1.7;
        @include mixins.dynamicFontSize(20, 50, 300, 1900);
        padding: 5vh 0;
        #my-name {
          font-weight: bolder;
          color: var.$tertiaryColor;
          display: inline-block;
          opacity: 0;
          transform: translateY(-50%);
          transition: all 1s;
          &.animation-showed {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    #header-btn{
      margin-top: 5vh;
      text-align: center;
    }
  }
}
