/* Intro */

@use '../helpers/variables' as var;
@use '../helpers/mixins';

#intro {
  background-color: var.$primaryBg;
  position: relative;
  padding-bottom: 10vh;
    
  .content-wrap {
    min-height: 80vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    @media (max-width: 767px) {
      min-height: 100vh;
    }
    @media (max-width: 500px) {
      min-height: unset;
    }
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-inline: auto;
    }
    @media (max-width: 500px) {
      margin-top: 10vh;
    }

    img {
      width: 200px;
      border-radius: 50%;
      @media (min-width: 768px) and (max-width: 1200px) {
        width: 16vw;
      }
      @media (max-width: 767px) {
        width: 30vw;
      }
    }

    h1 {
      text-align: left;
      line-height: 1.7;
      // @include mixins.dynamicFontSize(20, 50, 300, 1900);
      padding: 3rem 0 3rem 3vw;
      @media (max-width: 767px) {
        padding: 3vh 0 3vh;
      }
      #my-name {
        font-weight: bolder;
        color: var.$lightColor400;
        display: inline-block;
      }
    }
  }
  #header-btn{
    margin-top: 5vh;
    text-align: center;
  }
}
