/* Projects */
#projects {
  padding: 20vh 1em;
  .project-type {
    margin-bottom: 5vh;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
  }
  #co-developed-projects {
    margin-bottom: 10vh;
    .project-description {
      list-style-type: disc;
      margin: 1em 0 1em 2em;
      li { 
        display: list-item;
      }
    }
  }
  @media (max-width: 500px) {
    #co-developed-projects .project-description {
      margin-left: 1em;
    }
  }
  .card {
    border: none;
    margin-bottom: 3em;
    background: #fff;
    color: $color;
    box-shadow: 1px 1px 1px 1px #bbb;
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 10px 1px #bbb;
    }
    &:active {
      transition-delay: 0s !important;
      transform: scale(0.99) !important;
    }
    .card-content {
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .card-title {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}