/* Testimonials */

@use '../helpers/variables' as var;

#testimonials {
  padding: 10vh 0;
  @media (max-width: 575px) {
    margin: 0;
    padding: 5vh 0;
  }
  .caption {
    text-align: center;
    margin-bottom: 5vh;
    br {
      display: none;
      @media (max-width: 400px) {
        display: block;
      }
    }
  }

  .testimonial {
    max-width: 700px;
    margin-inline: auto;
    &:not(:last-of-type) {
      margin-bottom: 20rem;
      @media (max-width: 767px) {
        margin-bottom: 16rem;
      }
      @media (max-width: 575px) {
        margin-bottom: 12rem;
      }
    }
    .quote {
      text-align: center;
      font-style: italic;
      font-size: 22px;
      font-weight: 300;
      opacity: 0;
      filter: blur(5px);
      transition: all 1s;
      &.animation-showed {
        opacity: 1;
        filter: blur(0);
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
      @media (max-width: 575px) {
        font-size: 18px;
      }
      .open, .close {
        opacity: 0.2;
      }
      .open {
        margin: 0 auto 1rem;
        display: block;
      }
      .close {
        display: none;
      }
    }
    .person {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      .image {
        margin-right: 2rem;
        @media (max-width: 575px) {
          margin-right: 1rem;
        }
        img {
          width: 100px;
          border-radius: 50%;
          @media (max-width: 575px) {
            width: 80px;
          }
        }
      }
      .text {
        .name {
          font-weight: bold;
        }
        .role {
          .title {
            color: var.$lightColor400;
          }
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background-color: var.$lightColor200;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .1);
    margin-inline: auto;
    margin-bottom: 5vh;
    position: sticky;
    top: 70px;
    z-index: 5;
    @media (min-width: 768px) {
      top: 80px;
      width: 700px;
      height: 55px;
      border-radius: 40px;
    }
    &-list {
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &-item {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      z-index: 1;
    }
    &-link {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-decoration: none;
      transition: color .3s ease-in-out;
      background-color: transparent;
      color: var.$lightColor400;
      border: unset;
      outline: 0;
      cursor: pointer;
      user-select: none;
      @media (max-width: 449px) {
        justify-content: space-evenly;
      }
      &::after {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding-top: 6px;
        line-height: 1;
        font-size: 0.7rem;
        background: #fff;
        color: var.$lightColor400;
        @media (min-width: 768px) {
          margin-left: 1rem;
        }
        @media (min-width: 450px) and (max-width: 767px) {
          margin-left: .5rem;
        }
      }
      &.all::after {
        content: attr(data-count); // Total # of testimonials
      }
      &.dcm::after {
        content: attr(data-count); // # of DCM testimonials
      }
      &.ecosa::after {
        content: attr(data-count); // # of Ecosa testimonials
      }
    }
    .active {
      color: white;
    }
    &-slider {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      z-index: 0;
      &-item {
        width: 33.3%;
        height: 100%;
        background-color: var.$lightColor400;
        border-radius: 30px;
        transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 2px 4px 6px rgba(0, 0, 0, .1);
        @media (min-width: 576px) {
          border-radius: 40px;
        }
      }
    }
  }
}