/* Testimonials */

@use '../helpers/variables' as var;

#testimonials {
  padding: 10vh 0;
  @media (max-width: 575px) {
    margin: 0;
    padding: 5vh 0;
  }
  .caption {
    text-align: center;
    margin-bottom: 10vh;
    br {
      display: none;
      @media (max-width: 400px) {
        display: block;
      }
    }
  }
  .testimonial {
    max-width: 700px;
    margin-inline: auto;
    &:not(:last-of-type) {
      margin-bottom: 12rem;
      @media (max-width: 767px) {
        margin-bottom: 10rem;
      }
      @media (max-width: 575px) {
        margin-bottom: 8rem;
      }
    }
    .quote {
      text-align: center;
      font-style: italic;
      font-size: 22px;
      font-weight: 300;
      opacity: 0;
      filter: blur(5px);
      transition: all 1s .2s;
      &.animation-showed {
        opacity: 1;
        filter: blur(0);
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
      @media (max-width: 575px) {
        font-size: 18px;
      }
      .open, .close {
        opacity: 0.2;
      }
      .open {
        margin: 0 auto 1rem;
        display: block;
      }
      .close {
        display: none;
      }
    }
    .person {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      .image {
        margin-right: 2rem;
        @media (max-width: 575px) {
          margin-right: 1rem;
        }
        img {
          width: 100px;
          border-radius: 50%;
          @media (max-width: 575px) {
            width: 80px;
          }
        }
      }
      .text {
        .name {
          font-weight: bold;
        }
        .role {
          .title {
            color: var.$tertiaryColor;
          }
        }
      }
    }
  }
}