/* Header */
header #particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -10;
  opacity: 1;
  background-color: #edf0f2 !important;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

header #home {
  min-height: 100vh;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header #home .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #home .heading #avatar {
  width: 20vh;
}

header #home .heading h1 {
  text-align: left;
  line-height: 1.7;
  font-size: calc(20px + (70 - 20) * ((100vw - 300px) / (1900 - 300)));
  padding: 5vh 0;
}

header #home .heading h1 #my-name {
  font-weight: 300;
  color: #f9aa33;
  display: inline-block;
}

header #home #header-btn {
  margin-top: 5vh;
  text-align: center;
}

@media (max-width: 500px) {
  #avatar {
    height: 15vh;
  }
}

/* About */
#about {
  padding: 20vh 0;
}

#about #skills {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #skills .skill {
  margin: 3vh;
  padding: .5em .8em;
  display: inline-block;
}

#about #skills .skill:active {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  -webkit-transform: scale(0.95) !important;
          transform: scale(0.95) !important;
}

#about #skills .skill img {
  width: 70px;
}

@media (max-width: 390px) {
  #about #skills .skill {
    margin: 2vh 0;
    padding: .2em 1.3em;
  }
}

#about #skills #react-logo {
  width: 82px;
}

#about #skills #jquery-logo {
  width: 120px;
}

#about #skills #firebase-logo {
  width: 50px;
}

#about #skills #php-logo {
  width: 90px;
}

#about #skills #html-logo {
  width: 80px;
}

#about #skills #css-logo {
  width: 58px;
}

#about #skills #mysql-logo {
  width: 100px;
}

#about #skills #mongodb-logo {
  width: 80px;
}

/* Projects */
#projects {
  padding: 20vh 1em;
}

#projects .project-type {
  margin-bottom: 5vh;
}

#projects ul {
  padding: 0;
}

#projects li {
  display: inline-block;
}

#projects #co-developed-projects {
  margin-bottom: 10vh;
}

#projects #co-developed-projects .project-description {
  list-style-type: disc;
  margin: 1em 0 1em 2em;
}

#projects #co-developed-projects .project-description li {
  display: list-item;
}

@media (max-width: 500px) {
  #projects #co-developed-projects .project-description {
    margin-left: 1em;
  }
}

#projects .card {
  border: none;
  border-radius: 5px;
  margin-bottom: 3em;
  background: #fff;
  color: #344955;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#projects .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px 1px #bbb;
          box-shadow: 1px 1px 10px 1px #bbb;
}

#projects .card:active {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  -webkit-transform: scale(0.99) !important;
          transform: scale(0.99) !important;
}

#projects .card .card-content {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .card .card-content .card-title {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

#projects .card .card-content .card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2vh;
}

#projects .card .card-content .button {
  border: none;
}

#projects #thought {
  font-weight: 300;
}

@media (max-width: 400px) {
  .card-actions > .button {
    font-size: .8rem;
  }
}

/* Contact */
#contact {
  padding: 20vh 1em;
  background: #fff;
}

#contact .contact-container {
  text-align: center;
}

#contact .contact-container a {
  color: #f9aa33;
  font-weight: 300;
  text-decoration: none;
  font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (1900 - 300)));
}

#contact .contact-container a:active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#contact .contact-container #copy-hint {
  margin-left: 1.5em;
}

#contact .contact-container #copy-hint .copy-icon {
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

#contact .contact-container #copy-hint .copy-icon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

#contact .contact-container #copy-hint .copy-icon:hover {
  cursor: pointer;
}

#contact .contact-container #copy-hint .copy-icon:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

@media (max-width: 500px) {
  #copy-hint {
    margin-left: 1em !important;
  }
}

@media (max-width: 400px) {
  #copy-hint {
    margin-left: 0.3em !important;
  }
}

/* Footer */
#main-footer {
  padding: 1em;
  background: #edf0f2;
  color: #344955;
  text-align: center;
  font-weight: 300;
}

#main-footer #social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vh;
}

#main-footer #social-media-container #linkedin-profile {
  margin-right: 4vh;
}

#main-footer #social-media-container #github-profile {
  margin-left: 4vh;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background: #f9aa33;
  color: #344955;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: .2em 1em;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition: 150ms;
  transition: 150ms;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:focus {
  outline: none;
}

.button:hover {
  background: #fab44c;
  color: #344955;
}

.button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.outlined-btn {
  background-color: transparent;
  border: 1px solid #fde1b7 !important;
  color: #344955;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.outlined-btn:hover {
  background-color: #fde1b7;
  border: 1px solid #f9aa33 !important;
}

.button-icon {
  padding-right: 0.5em;
}

#burger-icon {
  position: fixed;
  cursor: pointer;
  top: .5em;
  right: .5em;
  z-index: 99;
}

#burger-icon:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#burger-icon .material-icons-outlined {
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

#burger-icon .material-icons-outlined:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#burger-icon .menu {
  color: #f9aa33;
}

#burger-icon .md-light {
  color: white;
}

#burger-icon .close {
  display: none;
  color: #f9aa33;
  opacity: 1;
  text-shadow: unset;
}

#burger-icon .close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#sidenav {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  opacity: 0;
  position: fixed;
  z-index: 3;
  right: 0;
  background-color: #344955;
  overflow-x: hidden;
  -webkit-transition: display 1.3s ease-out;
  transition: display 1.3s ease-out;
}

#sidenav a {
  display: none;
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1900 - 300)));
  text-decoration: none;
  text-align: center;
  color: #ccc;
  opacity: 1;
  padding: 5vh 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#sidenav a:first-child {
  margin-top: 5vh;
}

#sidenav a:hover {
  color: #f9aa33;
}

#sidenav a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.modal {
  padding-right: 0 !important;
}

.modal .modal-content .hint {
  padding-left: 3vh;
}

.modal .modal-header {
  padding: 1em 1em .5em 1em;
}

.modal .modal-header span {
  line-height: 1.5;
}

.modal .modal-header .material-icons-outlined {
  margin: -.3em -.3em 0 0;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.modal .modal-header .material-icons-outlined:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.modal .modal-header .material-icons-outlined:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.modal .project-features h5 {
  margin: 5vh 0;
  margin-left: 2vh;
  text-align: left;
}

.modal .project-features li {
  text-align: left;
  margin-bottom: 1.5em;
}

.modal .live-website {
  text-align: center;
  margin-bottom: 1em;
}

.modal .carousel-control-prev,
.modal .carousel-control-next,
.modal .carousel-indicators {
  color: #f9aa33;
}

.modal .modal-footer > .button {
  text-align: center;
  width: 100%;
}

@media (max-width: 500px) {
  .modal-body ul {
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
}

@media (max-width: 400px) {
  .modal-body ul {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section:nth-child(even) {
  background: #edf0f2;
}

/* Cursor highlight */
::-moz-selection {
  background: #fde1b7;
}
::selection {
  background: #fde1b7;
}

/* Scroll Bar */
@media (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 10px;
    background: #edf0f2;
  }
  ::-webkit-scrollbar-thumb {
    /* Handle */
    background-color: #fde1b7;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #f9aa33;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
  padding: 1em 0;
}

body {
  margin: 0;
  background: #f4f5f7;
  color: #344955;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 2;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.content-title {
  text-align: center;
  margin-bottom: 5vh;
  color: #f9aa33;
}

.content-wrap {
  padding: 0 1.5em;
}

.icon {
  margin-right: .5em;
}

.fa-github,
.fa-linkedin {
  color: rgba(116, 129, 154, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: #74819a;
}

.fa-github:active,
.fa-linkedin:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/* For screens wider than and equal to 700px */
@media (min-width: 700px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr minmax(auto, 30em) minmax(auto, 30em) 1fr;
        grid-template-columns: 1fr minmax(auto, 30em) minmax(auto, 30em) 1fr;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  header .button {
    margin-top: 6vh;
  }
  .content-text {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 5em;
            column-gap: 5em;
  }
  #about .content-text p {
    padding-top: 0;
  }
  #skills {
    margin-top: 5vh;
  }
  #projects #personal-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
  }
  .live-website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-footer > .button {
    width: inherit !important;
  }
  .content-wrap,
  #projects ul,
  #projects #personal-projects ul,
  #projects h2,
  #projects h4,
  #projects p,
  #contact div,
  #main-footer div {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}
/*# sourceMappingURL=main.css.map */