// Sass utilities
@use 'helpers/variables' as var;
@use 'helpers/mixins';
@use "sass:color";

// Layout related stylesheets
@use './layouts/intro';
@use './layouts/skills';
@use './layouts/testimonials';
@use './layouts/projects';
@use './layouts/contact';
@use './layouts/footer';

// Components
@use './components/button';
@use './components/mobileTopNav';
@use './components/mobileNav';
@use './components/topNav';
@use './components/modal';
@use './components/swiper';

:root {
  --card-border-radius: 20px;
  font-size: 16px;
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 4px solid #C2DBFE !important; /* Thick, high-contrast color */
  outline-offset: 2px;        /* Spacing between link and outline */
  border-radius: 12px;         /* Optional: rounds the corners */
  box-shadow: unset !important;
}

a:focus:not(:focus-visible) {
  outline: none;
}

/* Cursor highlight */
::selection {
  background-color: color.scale(var.$lightColor400, $lightness: 90%);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 16px; // Track
}
::-webkit-scrollbar-thumb { /* Handle */
  background-color: #ccc;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
  &:hover { /* Handle on hover */
  background-color: #aaa;
  }
}

/* open-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v44-latin-300.woff2') format('woff2');
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); 
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v44-latin-600.woff2') format('woff2');
}

// body.modal-open {
//   ::-webkit-scrollbar {
//     width: 0px; // Track
//   }
//   ::-webkit-scrollbar-thumb { /* Handle */
//     background-color: unset;
//     border-radius: unset;
//     border: unset;
//     background-clip: unset;
//     &:hover { /* Handle on hover */
//     background-color: unset;
//     }
//   }
// }

// Tooltip
[class*="hint--"]:after {
  background-color: var.$color;
}
.hint--top:before {
  border-top-color: var.$color;
}
.hint--bottom:before {
  border-bottom-color: var.$color;
}
.hint--right:before {
  border-right-color: var.$color;
}
.hint--left:before {
  border-left-color: var.$color;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
  padding: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h2 {
  font-size: 1.6rem;
  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
  @media (max-width: 575px) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.5rem;
  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
  @media (max-width: 575px) {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.4rem;
  @media (max-width: 767px) {
    font-size: 1.3rem;
  }
  @media (max-width: 575px) {
    font-size: 1.2rem;
  }
}

body {
  margin: 0;
  background: var.$primaryBg;
  color: var.$color;
  // font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1900 - 300)));
  // @include mixins.dynamicFontSize(14, 20, 300, 1900);
  line-height: 2;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

hr {
  color: lightgray;
  opacity: .3;
}

#container {
  position: relative;
}

.content-title {
  text-align: center;
  margin-bottom: 5vh;
  color: var.$lightColor400;
  font-weight: bold;
}

.content-text {
  text-align: center;
  max-width: 80ch;
  margin: 0 auto;
}

.content-wrap {
  padding: 0 1.5rem;
}

.icon {
  margin-right: .5em;
}

.fa-github {
  color: rgba(116, 129, 154, 0.7);
  transition: 0.4s;
  &:hover {
    color: #000;
  }
  &:active {
    color: #000;
    transform: scale(0.95);
  }
}

#container {
  &.show-jump-to-top-icon {
    .jump-to-top {
      visibility: visible;
      opacity: 1;
    }
  }
  &.hide-icon {
    .jump-to-top {
      visibility: hidden;
      opacity: 0;
    }
  }
  .jump-to-top {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid var.$color;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all .3s ease-out;
    @media screen and (max-width: 574px) {
      bottom: 20px;
      right: 20px;
      width: 28px;
        height: 28px;
    }
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(60, 64, 67, 0.3), 0 4px 6px 4px rgba(60, 64, 67, 0.15);
    }
    &:active {
      box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 11px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 21px 3px rgba(0, 0, 0, 0.12);
    }
    i {
      color: var.$color;
    }
  }
}

// Disallow users highlighting the link or button text
a, button, .jump-to-top, i, img {
  user-select: none;
}







/* For screens wider than or equal to 768px */
@media (min-width: 768px) {
  .grid {
    display: grid;
    // grid-template-columns: 1fr minmax(auto, 30em) minmax(auto, 30em) 1fr;
    grid-template-columns: 1fr minmax(auto, 40rem) minmax(auto, 40rem) 1fr;
  }

  header .button {
    margin-top: 6vh;
  }

  #skills .content-text p {
    padding-top: 0;
  }

  #projects #personal-projects {
    display: flex;
    flex-direction: column;
  }

  .live-website {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .modal-footer > .button {
    width: inherit !important;
  }

  .content-wrap,
  #testimonials h2,
  .testimonial,
  #projects ul,
  #projects #personal-projects ul,
  #projects h2,
  #projects h3,
  #projects p,
  #contact div,
  #main-footer div,
  .top-nav-container .top-nav {
    grid-column: 2/4;
  }

}
